@using MVCOnlineTicariOtomasyon.Models.Entities
@model List<Category>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<table class="table table-bordered" style="margin-top:20px; margin-left:20px; margin-right:20px">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Güncelle</th>
            <th scope="col">Sil</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model){
        <tr>
            <th scope="row">@item.CategoryId</th>
            <td>@item.Name</td>
            <td><a href="/Category/GetCategory/@item.CategoryId" class="btn btn-success">Güncelle</a></td>
            <td><a href="/Category/DeleteCategory/@item.CategoryId" class="btn btn-danger">Sil</a></td>
        </tr>
        }

    </tbody>
</table>
<a href="/Category/AddCategory" class="btn btn-primary" style="width:200px;margin-left:20px">Yeni Kategori</a>


